

{% load static %}

<!DOCTYPE html>
<html>

<head>
     <meta charset="utf-8">
     <title>Footer</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
     <link rel="stylesheet" href="{% static '..\static\footer.css' %}">
</head>

<body>
     <div>
     {% block body %}
<div>
     <footer>
          <div class="footer-clean " style="background-color:	#00FFFF;">
               <footer>
                    <div class="container">
                         <div class="row justify-content-center">
                              <div class="col-sm-4 col-md-3 item">
                                   <h3>Services</h3>
                                   <ul>
                                        <li><a href="#">Rooms</a></li>
                                        <li><a href="#">Flat</a></li>
                                        <li><a href="#">House</a></li>
                                   </ul>
                              </div>
                              <div class="col-sm-4 col-md-3 item">
                                   <h3>About</h3>
                                   <ul>
                                        <li><a href="#">Company</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Legacy</a></li>
                                   </ul>
                              </div>
                              <div class="col-sm-4 col-md-3 item">
                                   <h3>Future Use</h3>
                                   <ul>
                                        <li><a href="#">Easy to Use</a></li>
                                        <li><a href="#">Service Provide</a></li>
                                        <li><a href="#">Benefits</a></li>
                                   </ul>
                              </div>
                              <div class="col-lg-3 item social">
                                   <a href="#">
                                        <i class="icon ion-social-facebook"></i></a>
                                        <a href="https://www.facebook.com"><i class="icon ion-social-twitter"></i></a>
                                        <a href="#"><i class="icon ion-social-whatsapp"></i></a>
                                 <strong>  <p class="copyright">HamroKotha  © 2023</p> </strong>
                              </div>
                         </div>
                    </div>
               </footer>
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script
               src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
     </footer>
</div>
     {% endblock body %}

</div>
</body>

</html>







