{% extends 'base.html' %}

{% block title%} Home

{% endblock title%}

{% load static  %}


{% block body %}
<html>
<head>
  {% comment %} <link rel="stylesheet" href="HomeBody.css">  {% endcomment %}

  <style> {% include 'HomeBody.css' %}  </style>

</head>
<body>
  <div class="">
  <div class="HomeBody">
    <img src="{% static 'house.jpg' %}" alt="image" class="img-fluid">
    
  </div>

<div class='footer'>
  {% include 'footer.html' %}
</div>
</div>

</body>




</html>

{% endblock body %}







