{% extends 'base.html' %}

{% block title%} Home

{% endblock title%}

{% load static  %}


{% block body %}
<html>
<head>

  <style> {% include 'HomeBody.css' %}  </style>

</head>
<body>
  <div class="">
  <div class="HomeBody">
    <img src="{% static 'house1.png' %}" alt="image" class="img-fluid">
    
  </div>




  
  {% block content %}
  <h1>Your Properties</h1>
  <ul>
    {% for property in userproperties %}
      <li>
        <p>{{ property.name|title }}</p>
        <p>{{ property.descp }}</p>
      </li>
    {% empty %}
      <li>
        <p>You have no properties.</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}






<div class='footer'>
  {% include 'footer.html' %}
</div>
</div>

</body>
</html>

{% endblock body %}








