{% extends 'base.html' %}

{% block title%} Services
{% endblock title%}

{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django Display Images</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>{% include "dbImage.css" %}</style>


</head>
<body>


  {% comment %} <div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
        <th>Title</th>
        <th>Property Type</th>
        <th>Image</th>
          </tr>
        </thead>
        <tbody>
        {% csrf_token %}  
      {% for img in images %}  
          <tr>
            <td>{{img.name }} <br> {{img.phone}}</td>
            <td>{{img.propertytype}}</td>
        <td><img src="{{img.img.url}}" width="120" float="right"/></td>
          </tr>

        {% endfor %} 
      </tbody>
    </table>	
    </div> {% endcomment %}
  
{% comment %} 
    {% csrf_token %}  
    {% for img in images %} 
     
    <div class="card px-5 pb-5 mx-5 mb-5 bg-primary " style="width:400px ">
      <img class="card-img-top" src="{{img.img.url}}" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{img.name }}e</h4>
        <p class="card-text">{{img.phone}}"<br>"{{img.propertytype}}</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    {% endfor %} {% endcomment %}












  
  </body>
</html>

{% endblock body %}

