{% extends 'base.html' %}

{% block title%} Services
{% endblock title%}

{% block body %}

    

   <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
        
      </head>
    <body  style="background:rgb(150,250,200);">
        

       
       
  


        {% comment %} <div class="col-sm col-lg-9 col-md-5">

         
          <div class="row">

            {% for service in propertydetails %}
              <div class="col-sm col-lg-4 col-md-4 mb-4">
              <div class="card">
                <img src="{{ service.imgfield.url }}" alt="image" class="card-img-top img-fluid" style="width: 320px; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name|title }}</h5>
                    <p class="card-text">{{ service.phone }}<br>Address:  {{ service.address }} <br> ₨. {{ service.price }}</p>
                     {% for room in service.rooms.all %}
                      <p class="card-text">AttachedRoom: {{ room.attachedbathroom }} <br> AC/Fan: {{ room.acfan }} <br> WiFi: {{ room.wifiavailable }}</p>
                      {% endfor %}
                      <a href="{% url 'service_details' service.id %}" class="btn btn-primary">See More</a>
                </div>
               </div>
                           
              </div>
             {% endfor %}
            </div> 
            
        </div> {% endcomment %}


        <section id="" class="p-0 text-white" style="background-color:rgb(189,183,107);">
          <div class="container">
            <div class="row">
              <div class="col-md-4"><i class="fas fa-phone"></i>+977-9805762331</div>
             
              <div class="col-md-4">
                {% if request.user.is_authenticated %}
                Hi, {{ request.user.username }}. Good Morning..!
                {% endif %}
              </div>

              
              <div class="col-md-4">
                <div class="text-right">
                 Dhangadhi-4,Kailali
                </div>
              </div>
            </div>
          </div>
        </section>


        <div class="album py-2 bg-body-tertiary">

          <div class="dropdown mb-3 text-right mt-2 col-sm-11">
            <button type="button" class="btn btn-dark dropdown-toggle rounded-rectangle  " data-bs-toggle="dropdown">
              Filter 
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="?filter=lowhighprice">Low-High Price</a></li>
              <li><a class="dropdown-item" href="?filter=ac">AC Only</a></li>
              <li><a class="dropdown-item"  href="?filter=attachbathroom">Attached Bathroom only </a></li>
            </ul>
          </div>
          
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for service in propertydetails %}

              <div class="col">

                <div class="card shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="none" focusable="false" viewBox="0 0 100 100">
                    <image href="{{ service.imgfield.url }}" width="100" height="100" preserveAspectRatio="xMidYMid meet" />
                  </svg>
                
                 
                  <div class="card-body">
                    <h5 class="card-title">{{ service.name|title }}</h5>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                       <a href="{% url 'service_details' service.id %}"> <button type="button" class="btn btn-sm btn-outline-secondary" >View</button> </a>
                        {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary" >Button</button> {% endcomment %}
                          
                        {% if request.user.is_authenticated and request.user.username == service.user.username %}
                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="deleteService('{{ service.id }}')">Delete</button>
                        {% endif %}
                        

                      </div>
                      <small id="time" class="text-body-secondary"></small>
                    </div>
                  </div>
                </div>

              </div>







              {% endfor %}
            
          
            </div>
          </div>
        </div>


























 <script>




  function deleteService(serviceId) {
    // Check if the user has permission to delete the service (add necessary logic)
    var userHasPermission = true; // Replace with actual permission check logic

    if (userHasPermission) {
      // Make a request to your backend or API to mark the service as inactive
      // Replace the following code with your actual implementation
      // For demonstration purposes, we're just displaying a confirmation message
      if (confirm('Are you sure you want to delete this service?')) {
        // Code to make the service inactive (update the status, mark as deleted, etc.)
        console.log('Service deleted:', serviceId);
        // Remove the card from the UI
        var cardElement = document.querySelector('.card[data-service-id="' + serviceId + '"]');
        cardElement.parentNode.removeChild(cardElement);
      }
    } else {
      alert('You do not have permission to delete this service.');
    }
  }
          // Get the current time
          var currentTime = new Date();
        
          // Get the hours and minutes
          var hours = currentTime.getHours();
          var minutes = currentTime.getMinutes();
        
          // Format the time
          var timeString = hours + "h " + minutes + "m";
        
          // Update the time in the HTML
          document.getElementById("time").textContent = timeString;
        </script>


    
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    </body>
    </html>
    








{% endblock body %}